@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  box-sizing: border-box;
  overflow: hidden;
}
body{
  overflow-x: hidden;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--spacing-md);
}
.custom-scrollbar {
  overflow-y: scroll; /* Ensure that scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* No width for the scrollbar */
  height: 0px; /* Hide horizontal scrollbar if any */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb invisible */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}
@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 0 0% 3.9%; */
    /*  */
    --background: 55 23% 90%;
    --background-2: 0 98% 18%;
    --background-3: 0 0% 97%;
    --foreground: 0 98% 18%;
    --foreground-2: 0 0% 90%;

    --card: 28 19% 54%;
    --card-foreground: 0 0% 90%;
    --card-2: 25 23% 65%;
    --card-2-foreground:  0 0% 90%;
    

    --popover: 0 0% 90%;
    --popover-foreground: 0 0% 25%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 8%;

    --secondary: 218 11% 65%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;


    --accent: 45 95% 43%;
    --accent-foreground: 0 0% 9%;
    --accent-foreground-2: 0 0% 70%;


    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;


    /* --border: 0 0% 89.8%; */
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: .5rem;


    --font-size-sm: .8rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.563rem;
  --font-size-3xl: 1.953rem;
  --font-size-4xl: 2.441rem;
  --font-size-5xl: 5rem;

  --font-family-primary: 'Bricolage Grotesque', sans-serif;
  --font-family-secondary: 'Miniver', serif;
  --font-family-tertiary: 'Montserrat', sans-serif;

  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
   body {
    @apply bg-background text-foreground font-sans min-h-screen;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  /* Header 1 (h1) */
  h1 {
    @apply text-5xl font-serif font-extrabold leading-tight mb-4 mt-4;
  }

  /* Header 2 (h2) */
  h2 {
    @apply text-4xl font-sans leading-tight mb-4 mt-4;
  }

  /* Header 3 (h3) */
  h3 {
    @apply text-2xl font-display leading-tight mb-4 mt-4;
  }

  /* Header 4 (h4) */
  h4 {
    @apply text-2xl font-serif font-extrabold leading-tight mb-4 mt-4;
  }

  /* Header 5 (h5) */
  h5 {
    @apply text-xl font-sans leading-tight mb-4 mt-4;
  }

  /* Header 6 (h6) */
  h6 {
    @apply text-lg font-display leading-tight mb-4 mt-4;
  }

  /* Paragraph (p) */
  p {
    @apply text-base font-sans leading-relaxed mb-4 mt-4;
  }

  /* Anchor (a) */
  a {
    @apply text-primary-foreground font-medium hover:text-accent transition cursor-pointer;
    margin: 1rem 0;
  }

  /* Button (button) */
  button {
    @apply bg-primary-foreground text-primary p-2 rounded-md font-medium ;
    font-family: var(--font-family-tertiary);
  }

  /* Blockquote */
  blockquote {
    @apply border-l-4 pl-4 text-lg italic font-serif text-muted mb-4 mt-4;
    font-family: var(--font-family-primary);
  }

  /* Additional spacing */
  .space-y-4 > * + * {
    margin-top: 1rem; /* This ensures consistent spacing between elements */
  }
 
  @media (max-width: 640px) {
    :root {
      --font-size-sm: .7rem;
      --font-size-base: .9rem;
      --font-size-xl: 0.8rem;
      --font-size-2xl: 1.3rem;
      --font-size-3xl: 1.6rem;
      --font-size-4xl: 2rem;
      --font-size-5xl: 3.5rem;
    }
  }
  @media (max-width: 420px) {
    :root {
      --font-size-sm: .5rem;
      --font-size-base: .7rem;
      --font-size-xl: 0.9rem;
      --font-size-2xl: 1.1rem;
      --font-size-3xl: 1.4rem;
      --font-size-4xl: 1.7rem;
      --font-size-5xl: 3rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

